.head{
    display:flex;
    background-color:#abcdef;
    justify-content: center;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: cadetblue;
}
 .item{
     position:relative;
 }   
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;

}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity:0.33;
}